body {
    font-family: Arial, sans-serif;
    background-color: #ebdada;
}

h2 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #e7d806;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 1px;
}

input {
    width: 100%;
    padding: 4px;
    margin-bottom: 8px;
    border: 1px solid #070000;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #0073e6;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0050a7;
}

#telefone, #cpf, #cep {
    font-family: monospace;
}